extends layout

block content
  h1= title  
  article
    h1 Tuesday
    h4 coffee is good
    p today will be long.  school, then rush over to army, and talk to Al about web foundations somewhere in between.
    p another paragraph
  article
    h1 Monday
    h4 JavaScript in the browser
    p writing html in javaScript
    p <a href="/post1">Wednesday</a>
    p <a href="/post2">Thursday</a>
    p <a href="/post3">Friday</a>
    p <a href="/new_post">Create a new post</a>


